/* 메인 페이지 스타일 */

/* 폰트 로드 */
@font-face {
  font-family: "LotteriaChwapttaenggyeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* 사용자 정의 폰트 및 스타일 */
body {
  font-family: "Noto Sans KR", sans-serif;
}

.laundry-gothic {
  font-family: "LaundryGothic", "Noto Sans KR", sans-serif;
}
